html body{
    margin: 0;
}
#screen{
    margin:0;
    height:80vh;
    background-image: url("");
    background-repeat:no-repeat;
    background-size: cover;
}
img{
    height: 100%;
    width: 100%;
}

#selector{
    display: flex;
    justify-content: space-around;
}

span{
    top: 20%;
    overflow:hidden;
    width: 70%;
    color: white;
    margin: 30%;
    text-align: center;
}

span p {
    background-color: black;
}