  /*https://codepen.io/sreisner/pen/yOOOjx*/
  
  a{
    text-decoration: none;
    color: grey;
  }
  
  .sideBar::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: grey;
  }
  
  .sideBar::before {
    width: 0px;
    top: 25px;
  }
  
  .sideBar:hover::before {
    width: 50px;
  }